---
import BaseLayout from './BaseLayout.astro';

interface Props {
  title?: string;
  description?: string;
  pagefindMeta?: Record<string, string | number | boolean | null | undefined>;
}

const { title, description, pagefindMeta } = Astro.props;
---

<BaseLayout title={title} description={description} pagefindMeta={pagefindMeta}>
  <main class="ol-page-main">
    <div class="ol-section">
      <div class="ol-container">
        <slot />
      </div>
    </div>
  </main>
</BaseLayout>
